<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/mainContent :: header (#{session.pageTitle})"></head>
<body>
<nav th:replace="fragments/mainContent :: menu"></nav>
<main role="main" class="container">
    <div class="container-fluid">
        <h1 class="" th:text="#{session.pageTitle}">About the film</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="row" th:object="${theSession}">
                    <div class="col-md-3">
                        <img class="poster-img card-img" th:src="@{*{film.posterUrl}}">
                    </div>
                    <div class="col-md-9">
                        <div>
                            <h2 class="card-title" th:text="*{film.name}">Film name</h2>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li class="card-text"
                                    th:text="|#{film.duration}: *{film.duration} #{film.duration.postfix}|">Film
                                    duration
                                </li>
                                <li class="card-text">
                                    <span th:text="|#{film.genres}: |">Film genres</span>
                                    <div th:replace="fragments/others :: filmGenreList(*{film})"></div>
                                </li>
                                <li class="card-text"
                                    th:text="|#{admin.addSession.time}: *{date} #{session.timePrefix} *{time}|">
                                    Time: {date} at {time}
                                </li>
                                <li class="card-text"
                                    th:text="|#{session.seatsRemain}: ${theSession.seatList.size()}|">
                                    Seats remains: {amount}
                                </li>
                            </ul>
                            <h5 class="card-text"
                                th:text="|#{session.ticketPrice}: *{ticketPrice} #{general.currency.short}|">
                                Ticket price: {price} UAH
                            </h5>
                        </div>

                        <div>
                            <h4 th:text="|#{session.sessionSeat}: |">Seats for the session</h4>
                            <div class="row under-filter">
                                <div class="col-md-8 under-filter-block px-3">

                                    <th:block th:each="seat : ${freeAndReservedSeatMap}">

                                        <div class="w-100" th:if="${seat.key.placeNo == 1 && seatStat.index > 0}"></div>

                                        <label th:if="${seat.value}">
                                            <input type="checkbox" name="seatIds"
                                                   class="seatsElement-admin seatsElement"
                                                   th:value="*{id}">
                                            <img class="seatsImg-admin seatsImg" th:src="@{/images/svg/seat_blue.svg}">
                                        </label>

                                        <label th:unless="${seat.value}">
                                            <input type="checkbox" name="seatIds"
                                                   class="seatsElement-admin seatsElement"
                                                   value="${seat.id}" disabled>
                                            <img class="seatsImg-admin seatsImg"
                                                 src="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkAgMAAAANjH3HAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAADFBMVEUAAABJTFZJTFYAAAAi3Td3AAAAAnRSTlMAAHaTzTgAAAABYktHRACIBR1IAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH5gUaFzYGgpvrAQAAAGpJREFUSMft0bsNgDAMRVHDZCxhiozgKbIEI6SIpwSnyQcZpYECvVtZOpKbR2SxaC0z1XZtOxoJnaQpkU7ylGgf5B25RkvbIEuwyW2am5SR7IqDrOUlBAKB/FW+Sr0gkCLiQH6Q4EgidoRPEPyF6GFUhe4AAAAASUVORK5CYII=">
                                        </label>

                                    </th:block>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<footer th:replace="fragments/mainContent :: footer"></footer>
</body>