<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <property name="file-pattern" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} :: %msg%n" />

    <appender name="FILE-COMMON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/common.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/app.common.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>500MB</totalSizeCap>
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>${file-pattern}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="FILE-ADMIN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/admin.log</file>
        <append>false</append>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/app.admin.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>80MB</maxFileSize>
            <totalSizeCap>240MB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>${file-pattern}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE-COMMON"/>
        <appender-ref ref="FILE-ADMIN"/>
    </root>


</configuration>