<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/mainContent :: header (#{signup.pageTitle})"></head>
<body>
<nav th:replace="fragments/mainContent :: menu"></nav>

<main class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-12 col-xl-11">
            <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4" th:text="#{form.signup}"></p>

                            <form class="mx-1 mx-md-4" th:method="POST" th:action="@{/signup}" th:object="${user}">

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fa fa-user fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                        <input type="text" id="firstName" class="form-control" th:field="*{firstName}"
                                               th:placeholder="#{form.requiredField}"
                                               required/>
                                        <label class="form-label" for="firstName" th:text="#{form.fName}"></label>
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fa fa-user fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                        <input type="text" id="lastName" class="form-control"
                                               th:field="*{lastName}"
                                               th:placeholder="#{form.requiredField}"
                                               required/>
                                        <label class="form-label" for="lastName" th:text="#{form.lName}"></label>
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fa fa-envelope fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                        <input type="email" id="email" class="form-control"
                                               th:field="*{email}"
                                               th:placeholder="#{form.requiredField}" maxlength="320"
                                               required/>
                                        <label class="form-label" for="email" th:text="#{form.email}"></label>
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fa fa-lock fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                        <input type="password" id="password" class="form-control"
                                               maxlength="200" onkeyup='check();'
                                               th:field="*{password}" th:placeholder="#{form.requiredField}"
                                               required/>
                                        <label class="form-label" for="password" th:text="#{form.password}"></label>
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fa fa-key fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                        <input type="password" id="repeat_password" class="form-control"
                                               maxlength="200" onkeyup='check();'
                                               th:placeholder="#{form.requiredField}"
                                               required/>
                                        <label class="form-label" for="repeat_password"
                                               th:text="#{form.passwordRepeat}"></label>
                                        <span id='message'></span>
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fa fa-user fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                        <input type="text" name="phoneNumber"
                                               th:placeholder="|#{form.phoneNumber.tips} #{form.nonRequiredField}|"
                                               id="phoneNumber"
                                               class="form-control" th:field="*{phoneNumber}"/>
                                        <label class="form-label" for="phoneNumber"
                                               th:text="#{form.phoneNumber}"></label>
                                    </div>
                                </div>

                                <div class="form-check d-flex mb-4">
                                    <!--<input class="form-check-input me-2" type="checkbox"
                                           checked
                                           id="notification" name="notification"/>-->
                                    <input class="form-check-input me-2" type="checkbox"
                                           checked
                                           id="notification" name="notification" th:field="*{notification}"
                                           th:checked="*{notification}"/>
                                    <label class="form-check-label" for="notification" th:text="#{form.notification}">

                                    </label>
                                </div>

                                <!-- <div class="d-flex mb-5 g-recaptcha"
                                      data-sitekey="6LeFvCUgAAAAACAtqpZg-ECgUPYLBP-_GqY8D0OT">
                                 </div>-->

                                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                    <input type="submit" class="btn btn-primary btn-lg" th:value="#{form.signupBtn}"/>
                                </div>

                            </form>
                        </div>
                        <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                 class="img-fluid" alt="Sample image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/mainContent :: footer"></footer>
</body>