<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/mainContent :: header (#{successPay.pageTitle})"></head>
<body>
<nav th:replace="fragments/mainContent :: menu"></nav>
<main role="main" class="container">
    <div class="row">
        <div class="col-md-12 blog-main">
            <div class="d-flex justify-content-center align-items-center" id="main" style="background-color: wheat;">
                <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center notNullErrMsg"
                    th:text="#{successPay.success}">Success</h1>
                <div class="inline-block align-middle p-3">
                    <h2 class="font-weight-normal lead"
                        th:text="#{successPay.text}">Your payment is successful</h2>
                    <a th:href="@{/users/me/tickets}" class="btn btn-link" th:text="#{successPay.goToUserTickets}">See my
                        tickets</a>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/mainContent :: footer"></footer>
</body>