<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/mainContent :: header (#{user.pageTitle})"></head>
<body>
<nav th:replace="fragments/mainContent :: menu"></nav>

<main role="main" class="container">
    <div class="row">
        <div class="col-md-12 blog-main">
            <div class="panel-group" id="accordion">
                <div class="panel panel-primary">
                    <div class="panel-collapse">
                        <h1 th:text="#{user.activeTickets}"></h1>
                        <div class="row">
                            <div class="col-md-12">

                                <div th:unless="${ticketList != null && !ticketList.empty}">
                                    <span th:text="#{user.noActiveTickets}"></span>
                                </div>

                                <div th:if="${ticketList != null && !ticketList.empty}">
                                    <div class="card w-100"
                                         th:each="ticket : ${ticketList}"
                                         th:object="${ticket}">
                                        <div class="row p-3">
                                            <div class="col-md-6">
                                                <h3 th:text="#{ticket.ticketTitle} + ': '">Ticket: </h3>
                                                <p th:text="|#{ticket.date}: *{session.date}|">Date: {date}</p>
                                                <p th:text="|#{session.time}: *{session.time}|">Time: {time}</p>
                                                <p th:text="|#{ticket.seatRow}: *{seat.rowNo}|">Seat row: {rowNo}</p>
                                                <p th:text="|#{ticket.seatPlace}: *{seat.placeNo}|">Seat place:
                                                    {placeNo}</p>
                                                <p th:text="|#{ticket.film}: *{session.film.name}|">Film: {filmName}</p>
                                                <p th:text="|#{film.duration}: *{session.film.duration} #{film.duration.postfix}|">
                                                    Duration: {duration} minutes</p>
                                                <p th:text="|#{session.ticketPrice}: *{session.ticketPrice} #{general.currency.short}|">
                                                    Ticket price: {price} UAH</p>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="vertical-buttons">
                                                    <a type="button" th:href="@{/ticket/sendViaEmail(ticketId=*{id})}"
                                                       th:text="#{ticket.sendMail}"
                                                       class="btn btn-lg btn-block btn-primary my-2">
                                                    </a>
                                                    <a type="button" th:href="@{/tickets/{id}/pdf(id=*{id})}"
                                                       th:text="#{ticket.downloadTicket}"
                                                       class="btn btn-lg btn-block btn-primary my-2">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/mainContent :: footer"></footer>
